<div class="page-header">
	<h1>LolChat - Login</h1>
</div>

<alert params="level: flashLevel, message: flashMessage"></alert>

<form data-bind="submit: login" role="form">
	<div class="form-group">
		<label for="LoginRegion">Region:</label>
		<select id="LoginRegion" class="form-control input-lg" data-bind="options: regions, value: region, optionsText: 'title'"></select>
	</div>
	<div class="form-group">
		<label for="LoginUsername">League of Legends Username:</label>
		<input id="LoginUsername" type="text" class="form-control input-lg" data-bind="value: username">
	</div>
	<div class="form-group">
		<label for="LoginPassword">League of Legends Password:</label>
		<input id="LoginPassword" type="password" class="form-control input-lg" data-bind="value: password">
	</div>

	<button type="submit" class="btn btn-primary btn-lg">Login</button>
</form>
