
<div class="alert alert-danger" data-bind="visible: connection === null">
	<strong>You are no longer connected with this user!</strong>
	<a href="#">Login</a> first to use the chat.
</div>

<!-- ko if: connection !== null -->

<div id="chat-window" data-bind="with: currentMessagePanel">

	<div id="chat-window-header">
		<h3 data-bind="contact.summoner.name"></h3>
	</div>

	<div id="chat-window-message-area">
		<div class="container-fluid" data-bind="foreach: { data: messages, afterRender: scrollToBottom }">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<p>
						<strong data-bind="text: fromContact.summoner.name"></strong>
						(<span data-bind="text: date.toLocaleTimeString()"></span>)
					</p>
				</div>
				<div class="col-xs-12 col-sm-9">
					<p data-bind="text: message"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="chat-window-input">
		<form data-bind="submit: sendMessage">
			<div class="input-group">
				<input class="form-control input-lg" placeholder="Message..." data-bind="value: currentMessage">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default btn-lg">
						<span class="sr-only">Send</span>
						<span class="glyphicon glyphicon-send"></span>
					</button>
				</span>
			</div>
		</form>
	</div>

</div>

<div id="chat-roster">

	<h3>Status</h3>

	<div class="input-group">
		<input class="form-control" placeholder="Status Message" maxlength=25 data-bind="value: connection.ownContact.statusMessage">
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" data-bind="click: toggleShowStatus">
				<span class="glyphicon" data-bind="css: {
					'glyphicon-ok': connection.ownContact.available,
					'text-success': connection.ownContact.available,
					'glyphicon-remove': !connection.ownContact.available(),
					'text-danger': !connection.ownContact.available(),
				}"></span>
			</button>
		</span>
	</div>

	<h3>Contacts</h3>

	<div class="panel-group" data-bind="foreach: connection.onlineGroups" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title pointer" data-toggle="collapse-next">
					<span data-bind="text: title"></span>
					<span class="glyphicon pull-right text-muted" data-bind="css: { 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed() }"></span>
				</h4>
			</div>
			<div class="panel-collapse collapse in" role="tabpanel" data-bind="collapsed: collapsed">
				<div class="media-list list-group" data-bind="foreach: onlineMembers">

					<a href="#" class="list-group-item" data-bind="click: $parents[1].onContactClicked">

						<div class="media-left">
							<img width="48" height="48" data-bind="attr: { src: '//lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon'+summoner.profileIcon()+'.jpg' }">
						</div>
						<div class="media-body">
							<h4 class="media-heading" data-bind="text: summoner.name"></h4>
							<p>
								<span data-bind="text: statusInformation, css: {'text-success': show() == 'chat', 'text-warning': show() == 'dnd', 'text-danger': show() == 'away' }"></span>
							</p>
						</div>

					</a>

				</div>
			</div>
		</div>
	</div>

</div>

<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#message-panels-menu">
				<span class="sr-only">Toggle Message Panels</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="message-panels-menu" class="collapse navbar-collapse">

			<ul class="nav navbar-nav" data-bind="foreach: messagePanels">
				<li data-bind="css: { active: $parent.currentMessagePanel() == $data }">
					<a href="#" data-bind="click: $parent.currentMessagePanel, css: { bold: hasNewMessages }">
						<span data-bind="text: contact.summoner.name"></span>
						<button class="close navbar-close" data-bind="click: $parent.closeMessagePanel">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>

<!-- /ko -->
