
<!-- ko if: loading -->

<alert params="level: 'info', message: 'Loading summoner info...'"></alert>

<!-- /ko -->
<!-- ko ifnot: loading -->

<div class="page-header">
	<h1>
		<img width="48" height="48" class="img-rounded" data-bind="attr: { src: '//lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon'+summoner.profileIcon()+'.jpg' }">
		<span data-bind="text: summoner.name"></span>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-4">

	</div>
	<div class="col-xs-12 col-sm-4">

		<h4>
			<center data-bind="text: summoner.leagueName"></center>
		</h4>
		<p>
			<center>
				<strong data-bind="text: summoner.tier() + ' ' + summoner.division()"></strong><br>
				<span data-bind="text: summoner.leaguePoints"></span> LP
			</center>
		</p>
	</div>
	<div class="col-xs-12 col-sm-4">

	</div>
</div>

<!-- /ko -->
