<div role="alert" data-bind="visible: message().length > 0, attr: { class: alertClass }">
	<!-- ko if: dismissible -->
	<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	</button>
	<!-- /ko -->
	<strong data-bind="text: message"></strong>
</div>
