#page {
	margin-top: 80px;
	margin-bottom: 80px;
}

#chat-roster {
	position: fixed;
	top: 50px; /* size of top nav */
	bottom: 50px; /* size of bot nav */
	right: 0px;
	width: 320px;

	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #ccc;
	box-shadow: 0px 0px 5px #ccc;

	background-color: #ffffff; /* hide the alert message until we got a better solution */
	overflow-y: scroll;

}

#chat-window {
	position: fixed;
	top: 50px; /* size of top nav */
	bottom: 50px; /* size of bot nav */
	left: 0px;
	right: 320px; /* width of the #chat-roster */

	padding-left: 10px;
	padding-right: 10px;

	background-color: #ffffff; /* hide the alert message until we got a better solution */
	overflow-y: hidden;
}

#chat-window-header {
	height: 56px; /* calculated from the outer height of an h3 in bootstrap */
}

#chat-window-message-area {
	position: absolute;
	top: 56px; /* height of the #chat-window-header */
	bottom: 56px; /* height of the #chat-window-input */
	left: 0px;
	right: 0px;

	padding: 10px;

	overflow-y: scroll;
}

#chat-window-input {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;

	padding: 5px 10px;
}


.navbar-close {
	margin-left: 1em;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}
