<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">LolChat</a>
		</div>
		<div id="main-menu" class="collapse navbar-collapse navbar-right">

			<ul class="nav navbar-nav">
				<li data-bind="css: { active: route().page === 'home-page' }">
					<a href="#">Login</a>
				</li>

				<!-- ko foreach: connections -->
<!--
					<li data-bind="css: { active: $parent.route().username === username }">
						<a data-bind="attr: { href: '#/chat/' + username }, text: title"></a>
					</li>
-->

					<li class="dropdown" data-bind="css: { active: $parent.route().username === username }">

						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span data-bind="text: title"></span>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu" role="menu">
							<li><a data-bind="attr: { href: '#/chat/' + username }">Chat</a></li>
							<li><a data-bind="attr: { href: '#/profile/' + region.abbr + '/' + ownContact.summoner.id }">Profile</a></li>
							<li class="divider"></li>
							<li><a data-bind="click: $parent.logout">Logout</a></li>
						</ul>

					</li>

				<!-- /ko -->

				<li data-bind="css: { active: route().page === 'about-page' }">
					<a href="#/about">About</a>
				</li>

			</ul>

			<button class="btn btn-danger navbar-btn navbar-right" data-bind="click: logoutAll, css: { disabled: connections().length == 0 }">
				<span class="sr-only">Logout All</span>
				<span class="glyphicon glyphicon-off"></span>
			</button>

		</div>
	</div>
</div>
